<div class="container-fluid teste">
  <!--Primeira linha-->
  <div class="row m-md-5 mb-3">
    <!--Primeira coluna-->
    <div class="col-md text-center mt-md-5 pt-md-5">
      <div class="cabecalho fonte font-weight-bold">
        <br>
        <h1 class="d-none d-md-block display-2">Chamada QR</h1>
        <p class="h1 d-sm-block d-md-none display-4">Chamada QR</p>
        <br>
        <p class="lead">
          Acompanhe o andamento do seu evento.<br>
          Crie eventos de forma fácil sem dores de cabeça.<br>
          O Método mais simples de fazer sua chamada na sala de aula.
        </p>
      </div>
    </div>
    <!--Fim primeira coluna-->
    <!--Segunda coluna-->
    <div class="col-md text-center mt-md-5 p-md-5">
      <!--Botão colapsado-->
      <button type="button" class="btn btn-info d-sm-block d-md-none" data-toggle="collapse" data-target="#formulario">Login</button>
      <!--Card-->
      <div class="card card-container collapse" id="formulario">
        <img src="../assets/img/logo.png" class="img-fluid rounded mx-auto" alt="Logo ChamadaQR">
        <div class="card-header">
          <h4>Olá! Informe seus dados para entrar.</h4>
        </div>
        <div class="card-body">
          <!--Formulário-->
          <form class="needs-validation">
            <div class="form-row form-group">
              <label for="usuario" class="float-left">Usuário</label>
              <input type="text" class="form-control" id="usuario" required>
              <div class="invalid-feedback">Opa, só não perde a cabeça porque tá grudada!</div>
            </div>
            <div class="form-row form-group">
              <label class="float-left">Senha</label>
              <input type="password" class="form-control" id="senha" name="senha" required>
              <div class="invalid-feedback">De novo, cara?</div>
            </div>
            <button type="submit" class="btn btn-success float-right mt-3" id="btnLogin">Login</button>
          </form>
          <!--Fim formulário-->
        </div>
      </div>
      <!--Fim card-->
    </div>
    <!--Fim segunda coluna-->
  </div>
  <!--Fim primeira linha-->
  <!--Linha rodapé-->
  <div class="row">
    <!--div class="col"-->

      <footer class="footer navbar-fixed-bottom">
        <!--Linha-->
        <div class="row">
          <!--Primeira coluna-->
          <div class="col">
            <p></p>
          </div>
          <!--Fim primeira coluna-->
          <!--Segunda coluna-->
          <div class="col">
            
          </div>
          <!--Fim segunda coluna-->
        </div>
        <!--Fim linha-->
      </footer>
    
    <!--/div-->
  </div>
  <!--Fim linha rodapé-->
</div>