<div class="container-fluid">

  <!--MENU-->
  <div class="row fundoLaranja">
    <div class="col-sm-12">
      <nav class="navbar navbar-light fundoLaranja">
        <a class="navbar-brand" href="http://localhost:4200"><img src="../../assets/img/logo.png" alt="Chamada QR"></a>
          <ul class="nav nav-pill justify-content-end">
            <li class="nav-item">
              <p class="justify pr-5 pt-1 text-white">NICOLLAS MIYASHIRO REZENDE</p>
            </li>
            <li class="nav-item">
              <a routerLink="/" class=""><button class="btn btn-secondary">SAIR</button></a>
            </li>
          </ul>
      </nav>
    </div>
  </div>
  <!--/MENU-->

  <!--EVENTOS-->
  <div *ngIf="eventos.length > 0" class="row">
    <div class="col-sm-12 p-5">
      <h2 class="text-center" style="color: #ff9800;">EVENTOS DISPONÍVEIS</h2>
    </div>
  </div>

  <!--MENU EVENTOS-->
  <div *ngIf="eventos.length > 0  && usuario?.nvl == 3" class="row">
    <div class="col-sm-6 p-1">
        <div class="card">
          <div class="card-header">
            ADICIONAR EVENTO
          </div>
          <div class="card-body">
  
          </div>
        </div>
      </div>
      <div class="col-sm-6 p-1">
        <div class="card">
          <div class="card-header">
            CADASTRAR USUARIO
          </div>
          <div class="card-body">
            <form>
              <input type="text">
              <button (click)="onClick()">Salvar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  <div *ngIf="eventos.length > 0" class="row">
    <div class="col-sm-12 p-1">
      <!--GRUPO DE EVENTOS-->
      <div class="card-groups">
        <div *ngFor="let ev of eventos" class="card mt-2">
          <div class="card-body">
            <div class="card-title h5">SALA {{ ev.nome }}</div>
            <button class="btn btn-primary">MAIS INFORMAÇÕES</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/MENU EVENTOS-->
  <!--/EVENTOS-->

  <!--CASO NÃO TENHA EVENTOS-->
  <div *ngIf="eventos.length == 0" class="row">
    <div class="col-sm-12 pT-5">
      <h2 class="text-center" style="color: #ff9800;">NÃO HÁ EVENTOS DISPONÍVEIS</h2>
    </div>
  </div>

  <!--MENU DE CADASTROS-->
  <div *ngIf="eventos.length == 0 && usuario?.nvl == 3" class="row">
    <div class="col-sm-6 p-1">
      <div class="card">
        <div class="card-header">
          ADICIONAR EVENTO
        </div>
        <div class="card-body">

        </div>
      </div>
    </div>
    <div class="col-sm-6 p-1">
      <div class="card">
        <div class="card-header">
          CADASTRAR USUARIO
        </div>
        <div class="card-body">
          <form>
            <input type="text">
            <button (click)="onClick()">Salvar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!--MENU DE CADASTROS-->
  <!--/CASO NÃO TENHA EVENTOS-->

  <br>

  <!--FOOTER-->
  <div class="row fundoLaranja fixed-bottom">
    <div class="col-sm-12 fundoLaranja">
      <footer class="">
        <!--Footer Conteúdo-->
        <div class="container text-center text-md-left text-white">
        <div class="row">
          <!--First column-->
          <div class="col-md-4">
              <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">Footer Content</h5>
              <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit
                  amet, consectetur adipisicing elit.</p>
          </div>
          <!--/.First column-->

          <hr class="clearfix w-100 d-md-none">

          <!--Second column-->
          <div class="col-md-2 mx-auto">
              <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">Links</h5>
              <ul class="list-unstyled">
                  <li>
                      <a href="#!">Link 1</a>
                  </li>
                  <li>
                      <a href="#!">Link 2</a>
                  </li>
                  <li>
                      <a href="#!">Link 3</a>
                  </li>
                  <li>
                      <a href="#!">Link 4</a>
                  </li>
              </ul>
          </div>
          <!--/.Second column-->
        </div>
      </div>
      <!--/.Footer Conteúdo-->

      <hr>

        

        <!--Copyright-->
        <div class="footer-copyright text-center text-white">
            © 2018 Copyright:
            <a href="http://fabricaappu9.com.br/">Fábrica de aplicativos Uninove</a>
        </div>
        <!--/.Copyright-->
      </footer>
    </div>
  </div>
  <!--/FOOTER-->
</div>