<div class="separador"></div>

<div class="titulo">
  <h1 class="fonte">Chamada QR</h1>
</div>

<div class="subtitulo">
  <p class="fonte">
    Acompanhe o andamento do seu evento.<br>
    Crie eventos de forma fácil sem dores de cabeça.<br>
    O Método mais simples de fazer sua chamada na sala de aula.<br>
  </p>
</div>

<div class="formulario">
  <p class="fonte saudacao">Olá! Informe seus dados para entrar.</p>
  <form class="">
    <input class="controle fonte texto" id="usuario" type="text" placeholder="Usuário" required><br>
    <input class="controle fonte texto" id="senha" type="password" placeholder="Senha" required><br>
    <input class="controle fonte botao" type="submit" value="Login">
      
    <div class ="rodape">
        <p> class = "fonte rodape"> FAbrica app.</p>
        <input  class = "rodape" id = rodape type="search" placeholder="rodape" required><br>
        
    </div>
  </form>
</div>